{% extends 'header_cadastro.html' %}
{% load static %}
<head>

    {% block head %}
        <title>Cadastro de Usuários</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endblock %}
</head>

{% block body %}
    <div>
        <form method="post" name="cadastro" action="{% url 'cadastrar_usuario' %}" id="cadastro"
              enctype="multipart/form-data">
            {% csrf_token %}
            <table id="cad_table">
                <tbody>
                {% for field in form.visible_fields %}
                    <tr>
                        <td id="tabletd">{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
                <td><input type="submit" value="Cadastrar" id="btnCad"/></td>
                <td><a href="{% url 'listar_certificados' %}"><input type="button" value="Cancelar" class="btn"
                                                                     id="btnCancelar"/></a></td>
                {% if form.errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                </tbody>
            </table>
        </form>
    </div><!-- fim da div cadastro -->
{% endblock %}