{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'images/logo-adm.jpg' %}">
    {% block head %}

    {% endblock %}
</head>

<div id="menu">
    <ul class="menu">
        <li><a href="{% url 'listar_certificados' %}">Home</a></li>
        <!--<li><img src="images/menu_header_sp.png" alt="" /></li>-->
        <li><a href="{% url 'cadastrar_certificado' %}">Cadastrar Certificado</a></li>
        <li><a href="{% url 'cadastrar_usuario' %}">Cadastrar Usuario</a></li>
        <li><a href="">Relatórios</a></li>
        <li><a href="{% url 'listar_a_vencer' %}">Lista a Vencer</a></li>
        <li><a href="{% url 'listar_vencidos' %}">Lista Vencidos</a></li>
        <li><a href="">Versão</a></li>
        <div id=ola align="right"> Olá, {{ user.first_name }}
            <a href="{% url 'logout' %}"><img src="{% static 'images/logout.png' %}" alt='Sair do Sistema'/> </a></div>
    </ul>
</div>

<div id="header">
</div>


<body>
{% block body %}
{% endblock %}
</body>
</html>
