{% extends 'header.html' %}
{% load static %}
{% block body %}
<head>
<title>Cadastro de Certificados</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'table_listcert.css' %}">

</head>
    <main>
        <section>
            <table border="1" width="100%" class="order-table table">
                <thead>
                    <tr>
                        <th style="text-align: center;">EMPRESA/PESSOA</th>
                        <th style="text-align: center;">CPF/CNPJ</th>
                        <th style="text-align: center;">RESPONSÁVEL</th>
                        <th style="text-align: center;">FONE</th>
                        <th style="text-align: center;">TIPO</th>
                        <th style="text-align: center;">DATA COMPRA</th>
                        <th style="text-align: center;">DATA VENCIMENTO</th>
                        <th style="text-align: center;">DIAS EXP.</th>
                        <th style="text-align: center;">OPÇÕES/ALTERAR</th>
                    </tr>
                </thead>
                <tbody>
                    {% if certificados_vencidos %}
                        {% for certificado in certificados_vencidos %}
                            <tr>
                                <td>{{ certificado.empresa }}</td>
                                <td>{{ certificado.cnpj }}</td>
                                <td>{{ certificado.responsavel }}</td>
                                <td>{{ certificado.fone }}</td>
                                <td>{{ certificado.tipo }}</td>
                                <td>{{ certificado.datacompra|date:"d/m/y" }}</td>
                                <td>{{ certificado.datavencimento|date:"d/m/y" }}</td>
                                <td style="color: red; font-weight: bold">Expirou em {{ certificado.datavencimento }}</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" title data-original-title="Renovar Certificado">
                                        <img src="{% static 'images/renovar.jpg' %}">
                                    </a>
                                    |
                                    <a href="{% url 'editar_certificado' certificado.cod_cert %}" data-toggle="tooltip" title data-original-title="Alterar">
                                        <img src="{% static 'images/alterar.jpg' %}">
                                    </a>
                                    |
                                    <a href="{% url 'excluir_certificado' certificado.cod_cert %}" data-toggle="tooltip" title="Excluir">
                                        <img src="{% static 'images/excluir.jpg' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
</html>